@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@import 'src/assets/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $black;
}
